*{box-sizing: border-box;}
html, body{margin: 0;padding: 0; height: 100%;width: 100%;}
body{background-image: url("https://t4.ftcdn.net/jpg/02/74/15/95/360_F_274159589_6EK5ILNyFUU8JFVlHOG0DUWRAc1NKgkH.jpg");
background-size: cover;background-repeat: no-repeat;background-position: center;width:100vw;height: 100vh;}

/*hospital name*/
.top-logo{margin-left: 8%;}
.eye{max-width:150px;max-height: 150px;display: block;margin-left: 9.5%;position: relative;margin-bottom: 0;}
.eye img{object-fit: contain;overflow: hidden;width:100%;height: 100%;opacity: 0.1;}
.eye-letter{margin-left: 11.9%;display: inline-block;margin-top: -30%;}
.eye-letter-y{font-size: 1.5em;}
.hospital{margin-left: 10.5%;}


.cornea{position:absolute; width:33%;height:50%;;border-radius: 50%;left:33.5%;bottom: 29%;opacity:1;z-index: -1;animation: colorshift 10s ease-in-out infinite;}
@keyframes colorshift{0%   { background-color: #4b2e1f; } /* Dark Brown */
  10%  { background-color: #6f4e37; } /* Brown */
  20%  { background-color: #8e6b3a; } /* Hazel */
  30%  { background-color: #b57a2a; } /* Amber */
  40%  { background-color: #4f7f4f; } /* Green */
  50%  { background-color: #7a8b8b; } /* Gray */
  60%  { background-color: #6b8fa3; } /* Blue-Gray */
  70%  { background-color: #3a6ea5; } /* Blue */
  80%  { background-color: #6fa8dc; } /* Light Blue */
  90%  { background-color: #2b2b2b; } /* Dark Gray */
  100% { background-color: #4b2e1f; } /* Loop back */}


/*Login form*/
.form-block{background:rgba(85, 84, 84, 0.4);box-shadow: 0 8px 32px rgba(0,0,0,0.1);height: 400px;; width: 65%;max-width: 500px;margin-left: 6%;margin-top:3%; border-radius: 10px;}
form{margin: 10px;font-size: 1.2rem;}
label{width:120px;text-align: right;}
input{width:250px;height:30px;border-radius: 5px;font-size: 1rem;margin-left: -5%;}
select{width:250px;height:30px;border-radius: 5px;font-size: 1rem;margin-left: -5%;}
.employee-id{display: flex;justify-content:space-evenly;text-align: center;align-items: center;padding-top: 30px;margin-bottom: 30px;}
.password{display: flex;justify-content:space-evenly;text-align: center;align-items: center;margin-bottom: 30px;}
.branch{display: flex;justify-content:space-evenly;text-align: center;align-items: center;margin-bottom: 30px;}
.dept{display: flex;justify-content:space-evenly;text-align: center;align-items: center;margin-bottom: 30px;}
/*login button*/
.login{display: flex;justify-content: center;padding-top: 30px;}
.login button{width: 200px;height: 50px;border-radius: 5px;}
/*effects*/
.login button:hover{background-color: rgba(107, 110, 109, 0.712);}
.login button:active{border: 2px solid rgb(255, 255, 255);}

@media (max-width:420px) {.eye{margin-left: 50%;}
  
}




